<label>Name</label>
<input type="text" name="name" value="<%= section.name %>">
<br>
<label>Floor</label>
<input type="text" name="floor" value="<%= section.floor %>">
<br>
<label>Unit/Building</label>
<input type="text" name="buildingUnit" value="<%= section.buildingUnit %>">
<br>